 .anim-slide h1
  {
    color:#225A86;
    background-color: #fff;
    font-size: 50px;
  }
  .anim-slide h2
  {
    color: #fff;
    font-size: 35px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .anim-slide h3
  {
    color: #fff;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .anim-slide h4
  {
    color: #fff;
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
  }

.anim-slide h1#s1t1{text-shadow: -1px 1px 0px;padding: 6px;width:100%;}
.anim-slide h4#s1d1{width: 100%;top: 40%; color:#000;}
.anim-slide h2#s1s1{ width:100%;top: 50%; color:#225A86;}

.anim-slide h1#s2t1{text-shadow: -1px 1px 0px;padding: 6px;width:100%;}
.anim-slide h4#s2d1{width: 100%;top: 20%; color:#000;}

.anim-slide h1#s3t1{text-shadow: -1px 1px 0px;padding: 6px;width:100%;}
.anim-slide h4#s3d1{width: 100%;top: 50%; color:#000;}
