body{
    font-family : 'Roboto', sans-serif !important;
}
/** boton go top **/
.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #399a0f;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #35910e;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
/** boton go top **/
/* estilos de barra superior */
.barra_negra{
	background: #303341;
	color: #fff;
}
.barra_negra a{
	color: #fff;
}
.barra_negra a:active
.barra_negra a:visited{
	color: #fff;
}
.barra_negra a:hover{
	color: #6bb327;
}
.login{
	font-family: Arial, Helvetica, sans-serif !important;
}
.top-marg { margin-top:2px; margin-bottom:2px;}

.iconos-sociales{
	font-size: 1.2em;
}
/* estilos de barra superior */
/* menu */
nav.navbar {
    background-color: #ffffff;
    border: none;
}
.iconmenuitem{
    font-size: 25px;
}
/* menu */
.menu-item-active{
    color: #399a0f !important;
}
/* menu */
